<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>Connexus</title>

    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
  </head>
  <body>
    
    <h1>Connex.us</h1>

    {% for link in nav_links %}
      | 
      {% if path == link %}
        {{ link }}
      {% else %}
        <a href="{{ nav_links[link] }}">{{ link }}</a>
      {% endif %}

    {% endfor %}

    {% block content %}
    {% endblock %}

  </body>
</html>
{% endautoescape %}
