<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    <head>
      <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
      <script type="text/javascript" src="/scripts/create.js"></script>
      <title>Connexus</title>
    </head>

    <h1>Connex.us</h1>

    {% for link in nav_links %}
      | 
      {% if path == link %}
        {{ link }}
      {% else %}
        <a href="{{ nav_links[link] }}">{{ link }}</a>
      {% endif %}

    {% endfor %}

    {% block content %}{% endblock %}

  </body>
</html>
{% endautoescape %}
