<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    <head>
      <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
      <title>Miniproject Login</title>
    </head>

    <h1>Welcome to Connexus!</h1>

    <h2>Share the world!</h2>

    <!-- <h3 id="error">{{ error_text }}</h3> -->

    <form action="login" method="post">
      <input type="text" value="{{ user_id }}" name="user_id" required>
      <br>
      <input type="password" name="user_pw" required>
      <br>
      <input type="submit" name="login" value="Login">
    </form>

  </body>
</html>
{% endautoescape %}
