{% extends "_manage_base.html" %}
{% block content %}

<p>
<form action="/view" method="post">
<table id="pictures">
  <tr>
    {% for image_src in stream %}
      <td><img src="{{ image_src }}"></img></td>
    {% endfor %}
    <td><input type="submit" name="next" value="See more"></td>
  </tr>
</table>
</p>
<input type="hidden" name="stream_id" value="{{ stream_id }}">
<input type="hidden" name="page_range" value="{{ page_range }}">
</form>


<form action="{{ upload_url }}" method="post" enctype="multipart/form-data">  
  <table>
    <p>
    <tr>
      <td><input type="file" name="filename" value="Upload file" size="40" required></td>
      <td><input type="text" name="image_id" value="" size="30"></td>
      <td><input type="textarea" name="comments" value=""></td>
    </tr>
    </p>

    <p>
    <tr>
      <br>
      <td><input type="submit" name="upload" value="Upload file"></td>
      <td><h1>Add an Image</h1></td>
    </tr>
    </p>
  </table>
  <br>
<input type="hidden" name="stream_id" value="{{ stream_id }}">
</form>


<form action="/view?stream_id={{ stream_id }}" method="post">
  <input type="submit" name="subscribe" value="Subscribe">
</form>

{% endblock %}
